@define-color black #1B1D1D;
@define-color brblack #47423E;
@define-color brgreen #B1B946;
@define-color white #E0CDA5;

* {
  border: none;
  border-radius: 0px;
  min-height: 0px;
  font-family: Iosevka;
  font-weight: normal;
  opacity: 1;
}

window#waybar {
  background: transparent;
}

#workspaces {
  font-size: 15px;
  background: black;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10px 10px 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  border: 1px solid @black;
}

#workspaces button {
  border-radius: 0px;
  color: @white;
}

#workspaces button.persistent {
  color: @white;
}

#workspaces button.empty {
  color: @brblack;
}

#workspaces button.active {
  color: @brgreen;
  text-shadow:
    0.25px 0.25px 0 @brgreen,
    -0.25px 0.25px 0 @brgreen,
    -0.25px -0.25px 0 @brgreen,
    0.25px -0.25px 0 @brgreen;
}

#workspaces button:hover {
  background-color: transparent;
  color: @brgreen;
}


#tray {
  background: black;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10px 10px 0px;
  font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  border: 1px solid @black;
}

#clock {
  font-size: 15px;
  color: @white;
  background: black;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10px 10px 0px;
  font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  border: 1px solid @black;
}

#pulseaudio,
#network {
  font-size: 13px;
  color: @white;
  margin: 0;
  padding: 0 10px;
}

#group-applets {
  background: black;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10px 10px 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  border: 1px solid @black;
}

tooltip {
  border-radius: 5px;
  background: black;
  border: 1px solid @black;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

tooltip label {
  color: @white;
}
